<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.buivanphuc.apporderfood">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/logodangnhap"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.DangKyActivity"></activity>
        <activity android:name=".Activity.DangNhapActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.TrangChuActivity">

        </activity>
        <activity
            android:name=".Activity.ThemBanAnActivity"
            android:theme="@style/Popup">

        </activity>
        <activity android:name=".Activity.ThemThucDonActivity">

        </activity>
        <activity
            android:name=".Activity.ThemLoaiThucDonActivity"
            android:theme="@style/Popup">

        </activity>
        <activity android:name=".Activity.SoLuongActivity"
            android:theme="@style/Popup"
            >

        </activity>
        <activity android:name=".Activity.ThanhToanActivity">

        </activity>
        <activity android:name=".Activity.SuaBanAnActivity"
            android:theme="@style/Popup"
            >
        </activity>
        <activity android:name=".Activity.SuaThucDonActicity"
            android:theme="@style/Popup"
            >
        </activity>
        <activity android:name=".Activity.SuaMonAnActivity"
            android:theme="@style/Popup">

        </activity>
    </application>

</manifest>